@font-face {
  font-family: "Montserrat";
  src: url(Montserrat.ttf);
}
html {
  background-image: linear-gradient(to top right, #036474, #012a46);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 14px;
  background-color: #002327;
  color: white;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: gold;
  text-decoration: underline;
  text-decoration-style: dotted;
}
button,
input[type="submit"] {
  cursor: pointer;
}
/* custom styles */
.tap {
  border-radius: 100%;
  cursor: pointer;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font: inherit;
  width: 120px;
  height: 120px;
  font-weight: bold;
  padding: 10px;
  color: #002327;
  font-weight: bold;
  background-color: #fcdc73;
  border: 1px solid #fcdc73;
  box-shadow: 1px 1px 12px #fcdc73;
}

.tap:active {
  background-color: #91720c;
}

/* flexbox */
.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.logo {
  border-radius: 100%;
}
.flexCol {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  gap: 12px;
}

.gold {
  color: gold;
}

.shadow {
  padding: 20px;
  background-color: #02171a;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.large {
  font-size: 20px;
  font-weight: bold;
}
.level {
  opacity: 50%;
}
.combo {
  margin-top: 30px;
}
.daily-claim {
  width: 80px;
  padding: 12px;
  background-color: #0f0c00;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
}
.daily-claim:active {
  background-color: #2e2501;
}
.disabled {
  cursor: not-allowed;
}
.disabled:active {
  background-color: #0f0c00;
}

/* media screen for mobile responsiveness */

@media screen and (min-width: 500px) {
  .tap {
    height: 200px;
    width: 200px;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
  }
  body {
    font-size: 14x;
  }
}

/*HomePage  */
.home {
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}
.home button {
  width: 120px;
}
.block {
  display: block;
  line-height: 1.5;
}
.small {
  display: block;
  font-size: 11px;
  margin-top: 10px;
  font-weight: normal;
}
.bigImg {
  width: 200px;
  height: 200px;
  cursor: auto;
}
.bigImg:active {
  background-color: #fcdc73;
}
.special {
  padding: 20px 0;
  text-align: center;
}
footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

/* create account */

.createAcc {
  width: 310px;
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 40px 20px;
  background-color: #02171a;
  border-radius: 12px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  border-radius: 8px;
  padding: 12px 8px;
  border: none;
  outline: 1px solid;
}
#submit {
  width: 60%;
  background-color: #b38900;
  color: white;
  border: none;
  outline: none;
}
#submit:active {
  background-color: #755a01;
}
#cancel {
  width: 30%;
  padding: 12px 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #5e0101;
  color: white;
}
#cancel:active {
  background-color: #910202;
}
.flexCancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-right: 20px; */
}
.smallImg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 2px;
  margin-bottom: 16px;
}
